
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Bootstrap-icons';
}

.container {
  display: flex;
}

.esquerda {
  position: relative;
  width: 40%;
  height: 100vh;
  background-image: url('/img/bkg-aviao.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: #1336b0;
  background-size: contain;
  padding-left: 46px;
  padding-right: 46px;
}

.esquerda h1 {
  margin-top: 56px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 175.69%;

  color: #ffffff;
}

.esquerda img {
  position: absolute;
  bottom: 32px;
  left: 46px;
}

.direita {
  width: 60%;
}

.direita .conteudo {
  width: 60%;
  margin: 0 auto;
  margin-top: 135px;
}

.direita .conteudo h1 {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  color: rgba(16, 16, 16, 0.79);
}

.direita .conteudo p {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #636161;
  margin-top: 23px;
}

form label {
  display: inline-block;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #434343;
  margin-top: 40px;
}

form .input-texto {
  
  width: 100%;
  height: 64px;
  background: #ffffff;
  border: 1px solid rgba(49, 48, 48, 0.31);
  
  font-size: 22px;
  padding-left: 15px;
}

form .aviso-tamanho {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #636161;
}

form .btn {
  width: 100%;
  height: 56px;
  background: #1336b0;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #ffffff;
  margin-top: 32px;
  margin-bottom: 24px;
}

.btn-google {
  display: flex;
  align-items: center;
  border: 1px solid #c0bcbc;
  height: 58px;
  justify-content: center;
  gap: 24px;
}

.btn-google span {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.6);
}


.bi{
  text-align: start;
  margin-left: -35px;
  cursor: pointer;
  font-size: 20px;

}

